:root {
    --azul: #5883bd;
    --azulClaro: #bbd1ee;
    --azulSelecao: #5883bd40;
}
.colspan2 {
    grid-column: span 2;
}
.rowspan2 {
    grid-row: span 2;
}
.espacador {
    margin-right: 1px;
    flex-grow: 2;
    width: auto;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCC;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

button {
    outline: none;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    min-height: 3rem;
    min-width: 3rem;
    margin-right: 1px;
}
button:hover, input:is([type="number"],[type="search"],[type="text"]):hover, select:hover, tr:hover td {
    background-color: #EEE;
}
button.selecionado, tr.selecionado td {
    background-color: var(--azulClaro);
}
button:active {
    color: #FFF;
    background-color: var(--azul);
}
button.estreito {
    padding: 5px;
    min-height: 1rem;
    min-width: 1rem;
}
button.ok {
    border: 2px solid var(--azul);
}
button img {
    pointer-events: none;
}
label{
    vertical-align: baseline;
    align-self: center;
}
label:has(+input) {
    text-align: right;
}
input:is([type="number"],[type="search"],[type="text"]), select {
    outline: none;
    padding: 5px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1px;
    padding-bottom: 0px;
    border-bottom: 2px solid var(--azulClaro);
    box-sizing: border-box;
}
input:is([type="number"],[type="search"],[type="text"]):focus, select:focus {
    border-bottom: 2px solid var(--azul);
}
select option {
    background-color: #FFF;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0em;
    padding: 0.5em 0.5em;
}
div.scroll {
    overflow-y: scroll;
    border-bottom: 1px solid var(--azul);
    align-content: start;
}
dialog {
    border: none;
    box-shadow: 0px 4px 8px #0004;
    border-radius: 4px;
    padding: 0rem 1rem;
    outline: none;
}
dialog::backdrop {
    background-color: var(--azulSelecao);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
dialog h1 {
    background-color: var(--azul);
    color: #FFF;
    margin: 0rem -1rem;
}
dialog table {
    width: 100%;
}
dialog .botoes {
    background-color: #EEE;
    border-top: 1px solid #CCC;
    display: flex;
    flex-direction: row-reverse;
    margin: 0rem -1rem;
}
dialog div {
    display: flex;
    flex-wrap: wrap;
}
dialog div > div {
    width: 100%;
}
dialog div:has(> span.form) {
    flex-direction: column;
    margin-bottom: 0.5rem;
}
dialog div.listagem {
    display: flex;
    width: calc(100vw - 5em);
    height: calc(100vh - 20em);
    flex-wrap: nowrap;
    margin: 0rem -1rem;
}
dialog div.listagem div:first-child {
    flex-basis: 20em;
    flex-shrink: 2;
    border-right: 1px solid var(--azul);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
dialog div.listagem div:nth-child(2) {
    flex-grow: 2;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 1px;
    padding: 1px;
    align-items: start;
    background-color: #E8E8E8;
    button {
        height: 200px;
        margin-right: 0px;
        img, span {
            font-size: 5em;
        }
    }
}
dialog div.scroll {
    margin: 0rem -1rem;
}
table {
    position: relative;
    border-spacing: 0px;
    border-bottom: 1px solid var(--azul);
}
div.scroll table {
    border-bottom: none;
}
table tr.sticky {
    position: sticky;
    top: 0px;
}
table tr.dragOver {
    height: 1rem;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin: -0.5rem 0rem;
    opacity: 0;
    background-color: var(--azulSelecao);
    border-left: groove 2px var(--azulSelecao);
    border-right: groove 2px var(--azulSelecao);
}

table tr.dragOver.onDrag {
    opacity: 1;
    cursor: grabbing;
}
table tr.dragOver.onDrag hr {
    pointer-events: none;
    border-color: var(--azulSelecao);
}
table th {
    background-color: #DDD;
    min-width: 2em;
    padding: 0.5em;
}
table td {
    padding: 0.5em;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
    width: inherit;
}
span.form {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    gap: 1rem;
}
span.form label {
    margin: 0.5rem 0rem;
}
span.form input, span.form select {
    flex-grow: 2;
    margin-left: -1rem;
}

#loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.25s;
    progress {
        appearance: none;
        height: 0.25em;
        margin: 1em;
        &::-webkit-progress-bar {
            background-color: #0001;
        }
        &::-webkit-progress-value {
            background-color: var(--azulClaro);
            border-bottom: var(--azul) solid 1px;
        }
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease-in-out
}
body:has(> #menuPrincipal[exibir]) #wrapper {
    opacity: 0.2;
    pointer-events: none;
}
#menuPrincipal {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: -15em;
    width: 15em;
    height: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 8px #0004;
    transition: 0.25s ease-in-out;
}
#menuPrincipal[exibir] {
    left: 0em;
}
#menuPrincipal button.fixo {
    position: absolute;
    right: 0px;
}
#menuPrincipal div {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-self: stretch;
}
#menuPrincipal div button, dialog div.listagem div:first-child button {
    text-align: left;
    margin-top: 1px;
}
#menuPrincipal img.logo {
    padding: 1em;
    background-color: #111;
    object-fit: scale-down;
}

.barraMenu {
    background-color: #F4F4F4;
    display: flex;
    position: relative;
    z-index: 100;
    box-shadow: 0px 0px 8px #0004;
}
.barraMenu hr {
    margin: 0.5em;
    border-color: #FFF;
    opacity: 0.5;
}
.menu {
    display: flex;
    width: 100%;
}

#menuBase > div:not(.exibir) {
    display: none;
}

#partitura {
    display: inline-flex;
    flex-grow: 2;
    position: relative;
    background-color: #FFF;
}
#partitura.linear {
    overflow: scroll;
}
#partitura.pagina {
    margin: 1em;
    overflow: hidden;
    flex-wrap: wrap;
    width: 210mm;
    height: 297mm;
}

.sistema {
	position: relative;
	z-index: 0;
}

.instrumento {
    margin-bottom: 20px;
	background-color: #F00;
	display: flex;
	padding: 0.5em;
}

.nome-instrumento {
    font-weight: bold;
    margin-bottom: 5px;
	background-color: #FFF;
	padding: 0.5em;
}

.pauta {
    margin-bottom: 20px;
	background-color: #FF0;
	padding: 0.5em;
	display: flex;
}

.compasso {
    display: flex;
    position: relative;
    min-width: 10em;
    z-index: 1;
    position: relative;
    background-image: url("imagens/pauta.svg");
    background-position: center left;
    background-repeat: repeat-x;
    align-items: center;
}
.compasso .cabecalho {
    margin-left: -40px;
    text-align: right;
    width: 40px;
    padding-right: 20px;
    z-index: 2;
    position: relative;
    align-content: center;
}
.compasso:has(.cabecalho[style*="display: block;"], .cabecalho[style*="display: inline;"]) {
    margin-left: 60px;
}
@media print {
    .compasso {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

.sustenido, .bemol {
    font-size: 18px;
    display: inline-block;
    margin-right: 2px;
}

.clave {
    margin: 0px -25px;
    pointer-events: none;
}

.barra {
    margin: 0px -50px;
    position: absolute;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.divisao {
    min-height: 100px;
    text-align: left;
    min-width: 2em;
    position: relative;
    border-radius: 0.5em;
}
.divisao:hover {
    background-color: var(--azulSelecao);
}
.divisao.selecionado {
    outline: 2px solid var(--azul);
}

.figura {
    margin: 0px -30px;
    vertical-align: middle;
    position: relative;
    pointer-events: none;
}

.sincopa {
    position: absolute;
    height: 100px;
    margin: -50px 0px;
    pointer-events: none;
}


.formula {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    align-items: flex-start;
    font-weight: bold;
    margin: 0px 5px;
}
.formula div {
    margin: -0.3rem 0rem;
}

.armadura {
    white-space: nowrap;
}
.armadura img {
    margin: 0px -44px;
    position: relative;
}